.card {
    background-color: var(--default-card-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: initial;
}

.card.card-with-shadow {
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}

.card .card-body {
    padding: 1rem;
}


.card .card-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 1rem;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}