.icns {
    display: inline-block;
    background-size: contain!important;
}

.icon-default-filter {
    filter: invert(51%) sepia(20%) saturate(6611%) hue-rotate(135deg) brightness(95%) contrast(103%) !important;
}

.icon-white-filter {
    filter: invert(93%) sepia(100%) saturate(59%) hue-rotate(64deg) brightness(112%) contrast(100%);
}

.icon-default-hover:hover {
    i {
        filter: invert(51%) sepia(20%) saturate(6611%) hue-rotate(135deg) brightness(95%) contrast(103%) !important;
    }
}

.icon-secondary-filter {
    filter: invert(76%) sepia(7%) saturate(149%) hue-rotate(185deg) brightness(91%) contrast(96%);
}

.icon-password-show {
    background: url("../icons/password-show.svg") no-repeat ;
}

.icon-align-justify {
    background: url("../icons/align_justify.svg") no-repeat ;
}

.icon-user-check {
    background: url("../icons/user_check.svg") no-repeat ;
}

.icon-award {
    background: url("../icons/award.svg") no-repeat ;
}

.icon-user-group {
    background: url("../icons/user_group.svg") no-repeat ;
}

.icon-mail {
    background: url("../icons/email.svg") no-repeat ;
}

.icon-plus {
    background: url("../icons/plus.svg") no-repeat ;
}

.icon-money {
    background: url("../icons/money.svg") no-repeat ;
}

.icon-minus {
    background: url("../icons/minus.svg") no-repeat ;
}


.icon-flag {
    background: url("../icons/flag.svg") no-repeat ;
}

.icon-delete {
    background: url("../icons/delete.svg") no-repeat ;
}


.icon-left-arrow {
    background: url("../icons/left-arrow.svg") no-repeat ;
}


.icon-book-open {
    background: url("../icons/book_open.svg") no-repeat ;
}

.icon-horizontal-three-dots {
    background: url("../icons/horizontal-three-dots.svg") no-repeat ;
}

.icon-menu-line {
    background: url("../icons/menu-line.svg") no-repeat ;
}


.icon-threedots {
    background: url("../icons/threedots.svg") no-repeat ;
}

.icon-filter-grey {
    background: url("../icons/filter_grey.svg") no-repeat ;
}

.icon-search {
    background: url("../icons/search.svg") no-repeat ;
}

.icon-password-hide {
    background: url("../icons/password-hide.svg") no-repeat ;
}

.icon-forgot-password {
    background: url("../icons/forgot-password.svg") no-repeat ;
}

.icon-right-arrow {
    background: url("../icons/right-arrow.svg") no-repeat ;
}

.icon-back {
    background: url("../icons/back.svg") no-repeat ;
}

.icon-menu {
    background: url("../icons/menu.svg") no-repeat ;
}

.icon-notification {
    background: url("../icons/notification.svg") no-repeat ;
}

.icon-my-profile {
    background: url("../icons/my-profile.svg") no-repeat ;
}

.icon-logout {
    background: url("../icons/logout.svg") no-repeat ;
}

.icon-pie-chart {
    background: url("../icons/pie-chart.svg") no-repeat ;
}

.icon-clock {
    background: url("../icons/clock.svg") no-repeat ;
}

.icon-calender {
    background: url("../icons/calender.svg") no-repeat ;
}

.icon-down {
    background: url("../icons/down.svg") no-repeat ;
}

.icon-punch-in {
    background: url("../icons/punch-in.svg") no-repeat ;
}

.icon-punch-out {
    background: url("../icons/punch-out.svg") no-repeat ;
}

.icon-user {
    background: url("../icons/user.svg") no-repeat ;
}

.icon-user-x {
    background: url("../icons/user-x.svg") no-repeat ;
}

.icon-edit {
    background: url("../icons/edit.svg") no-repeat ;
}

.icon-home {
    background: url("../icons/home.svg") no-repeat ;
}

.icon-phone {
    background: url("../icons/phone.svg") no-repeat ;
}

.icon-location {
    background: url("../icons/location.svg") no-repeat ;
}

.icon-birthday {
    background: url("../icons/birthday.svg") no-repeat ;
}